* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [header] 10vh [body] 80vh [footer]10vh;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
    background-color: #56000b;
    color: #FFF;
}

.footer button {
    color: #56000b;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    border: none
}

.footer button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
